<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Include permissions here -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreenCycle"
        tools:targetApi="31">
        <activity
            android:name=".SolarForecast.CurrentWeatherFragment"
            android:exported="false" />
        <activity
            android:name=".Forum.FullPostActivity"
            android:exported="false" />
        <activity
            android:name=".Forum.NewPost"
            android:exported="false" />
        <activity
            android:name=".Forum.Forum"
            android:exported="false" />
        <activity
            android:name=".Profile.EditDisplayName"
            android:exported="false" />
        <activity
            android:name=".Profile.EditUsername"
            android:exported="false" />
        <activity
            android:name=".Profile.profile"
            android:exported="false" />
        <activity
            android:name=".Profile.options"
            android:exported="false" />
        <activity
            android:name=".SolarForecast.Forecast"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="sg.edu.np.mad.greencycle.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".FeedingLog.CompostGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".FeedingLog.DisplayImage"
            android:exported="false" />
        <activity
            android:name=".FeedingLog.UploadImage"
            android:exported="false" />
        <activity
            android:name=".Analytics.Analytics"
            android:exported="false"
            android:theme="@style/Theme.GreenCycle" />
        <activity
            android:name=".FeedingLog.Feeding"
            android:exported="false" />
        <activity
            android:name=".LiveData.LiveData"
            android:exported="false" />
        <activity
            android:name=".StartUp.RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".StartUp.LoginPage"
            android:exported="false" />
        <activity
            android:name=".StartUp.LandingPage"
            android:exported="true" />
        <activity
            android:name=".StartUp.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".StartUp.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".TankSelection.TankSelection"
            android:exported="false" />
        <activity
            android:name=".FeedingLog.CreateSchedule"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:exported="false" />
        <activity
            android:name=".StartUp.MainActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name=".StartUp.EmailVerificationActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".NPKvalue.npk_value"
            android:exported="true" />
        <activity
            android:name=".Goals.ViewGoals"
            android:exported="false" />
        <activity
            android:name=".Goals.CreateGoals"
            android:theme="@style/AppTheme.PopupOverlay" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>